parameters:
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::amOnPage\(\)#'
        - '#Call to an undefined method PHPUnit_Framework_MockObject_MockObject::[a-zA-Z0-9_]+\(\)#'